/* --== CS400 File Header Information ==--
 * Name: Jacob Lorenz
 * Email: jlorenz2@wisc.edu
 * Team: BC
 * Role: Front End Developer 2
 * TA: Bri Cochran
 * Lecturer: Gary Dahl
 * Notes to Grader: <optional extra notes>
 */

#WelcomeHeader {
    text-align: center;
    color: red;
}

#Search_Filter_Options {
    width:30%;
    margin: 0;
    border: 1px solid black;
    float: left;
    text-align: center;
}

#Listing_Summaries_List{
    width:69%;
    margin: 0;
    border: 1px solid black;
    float: left;
    text-align: center;
}