/* --== CS400 File Header Information ==--
 * Name: Jacob Lorenz
 * Email: jlorenz2@wisc.edu
 * Team: BC
 * Role: Front End Developer 2
 * TA: Bri Cochran
 * Lecturer: Gary Dahl
 * Notes to Grader: <optional extra notes>
 */

 .container {
     min-width: 993px;
     max-width: 1750px;
     margin-left: 10px;
     margin-right: 10px;
     height: auto;
 }

#WelcomeHeaderRow {
    text-align: center;
    color: red;
}

#WelcomeHeader {
    align-content: center;
    color: red;
}

#Search_Filter_Options {
    width: 100%;
    margin: 0;
    border: 1px solid black;
    /* float: left; */
    text-align: center;
}

#Listing_Summaries_List{
    width:100%;
    margin: 0;
    border: 1px solid black;
    /* float: left; */
    text-align: center;
}